@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);


/* ==========================================================================
   Wrapper CSS
   ========================================================================== */

* {
  font-family: 'Advent Pro', sans-serif;
  font-size: 12px;
  margin: 0;
}


html, body {
  margin: auto;
  padding: 0;
  height: 100%;
  background: #000000;
}

.body{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image:url('/Content/Images/main/main_background.jpg');
  background-size: cover; 
  background-color: #444;
}

input, textarea, a {
  resize:none;
  border-radius:                    2px!important;
  -webkit-border-radius:            2px!important;
  -moz-border-radius:               2px!important;
}

select {
  -moz-appearance: none;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: '';
  border-radius:                    2px!important;
  -webkit-border-radius:            2px!important;
  -moz-border-radius:               2px!important; 
}

/*@media (min-width:992px){.container{width:840px}}*/
@media (min-width:1200px){.container{width:970px}}

a:hover {
  text-decoration: none;
  color: #428bca;
}

.mtop20 {
  margin-top: 20px;
}

.mright10 {
  margin-right: 10px!important;
}

.m-b-5{
  margin-bottom: 5px;
}

.p15 {
  padding: 15px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin: 0 auto -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
  margin: 50px auto -100px;
  width: 970px;
  position: relative; 
}

.btn-black{
  background: rgba(0,0,0,0.8);
}
.btn-black:hover{
 background: rgba(13,24,30,0.8);
 color:#FFFFFF;
}
.visibility-hidden{
  visibility:hidden;
}

.form-adjust{
    padding:5px;
}

.details, .details > *{
    color:#FFFFFF;
    font-size:14px;
}

.details > dd{
    font-size:12px;
}

.details > dd{
    background-color:rgba(255,255,255,0.1);
    min-height:30px;
    text-align:center;
}


/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar-transparent{
  background: transparent;
  border: transparent;
}

.text-color-white >li > a, .text-color-white > li, .text-color-white{
  color:#FFFFFF;
}

.navbar-default .navbar-brand{
  color:#6D2121;
}

.m-log{
  margin: 10px 10px 10px 0px;
}

.dropdown-transparent, .dropdown-transparent > button{
  background:transparent;
}

.pd-l-2{
  padding-left:2px;
  
}

.pd-r-2{
   padding-right:2px;
}

.m-top-15{
  margin-top:20px;
}

.dropdown-menu-semi-transparent{
  background:rgba(91,81,96,0.8);
}

.nav-container{
  display: block;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:   #FFFFFF;
}





/* ==========================================================================
   BMS Index
   ========================================================================== */
.intro-project{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 300px);
	margin: 10px -15px;
	height: 150px;
	width: auto;
	color: white;
	padding: 10px;
	z-index: 2;
}

.intro-project-table{
	position: absolute;
	top: calc(35% - 176px);
	left: calc(40% - 300px);
	margin: 10px -15px;
	height: 150px;
	width: auto;
	color: white;
	padding: 10px;
	z-index: 2;
}

@media (max-width: 480px){
	.btn-black{
		margin-left:75px;
	}
}


table {
	background:rgba(0,0,0,0.8);
	color:#FFFFFF;
}

.table-bordered{
	border-color: #657383;	
}
td{
	width:150px;
	color:#FFFFFF;
}
td:nth-child(1){
	width:75px;
}

th{
	background:rgba(0,0,0,0.8);
}
.click-project{
	margin: -44px 100px;
}

a {
	color: #FFFFFF;
}
/* ==========================================================================
   Data Tables
   ========================================================================== */
.dataTables_wrapper .dataTables_filter input[type=search]{
	margin-left: -190px;
	position: absolute;
	width: 20%;
    color: #FFFFFF;
	background: rgba(255,255,255,0.4);
	border-color: transparent;
}
.dropdown-data-tables{
	background: rgba(255,255,255,0.4);
    color: #FFFFFF;
	border-color: rgba(0,0,0,0.4);
}
.span-left{
	margin: 4px 196px 0px -7px;
}

.dataTables_info .dataTables_paginate {
	color: #FFFFFF;
}

#placeholder-color-w::-webkit-input-placeholder { /* WebKit browsers */
    color:    #E5D7D7;
}
#placeholder-color-w:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #E5D7D7;
   opacity:  1;
}
#placeholder-color-w::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #E5D7D7;
   opacity:  1;
}
#placeholder-color-w:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:   #E5D7D7
}

.dataTables_filter, .dataTables_length{
    padding:10px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6em;
}

.footer, .push {
    height: 1em;
    padding-left:25px;
    color:#FFFFFF;
    z-index:99999;
}

.footer > p{
    font-size:20px;
}

.signout-info{
  color: #FFFFFF;
  position: absolute;
  top: calc(2%);
  left: calc(1% - 0px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}